li
{
	/* No ponemos .player porque se puede deseleccionar */
	list-style: none;
	-webkit-user-select: none;
	display: block;
}
h1, #cambiaperiodo
{
	text-align: center;
}
.seleccionado
{
	background: #A55;
	display: inline;
	color: white;
}

#pausar
{
	clear: both;
}

.disable
{
	color: #AAA;
}

h3
{
	padding: 5px;
}
