{% extends 'soccerstats/base.html' %}

{% block end %}
<script src="{{ STATIC_URL }}soccerstats/js/addmatch.js" type="text/javascript"></script>
{% endblock %}

{% block contenido %}

<form action="/addmatch/" id="addmatch">
	<div id="local" class="float-l">
		<label for="test">Local</label>
		<select name="test">
		<option value="0">Elija una opción</option>
		{% for equipo in equipos %}
			<option value="{{ equipo.id }}">{{ equipo.nombre }}</option>
		{% endfor  %}
		</select>
		<ul class="jugadores"></ul>
	</div>
	<div id="visitante" class="float-r">
		<select name="test">
		<option value="0">Elija una opción</option>
		{% for equipo in equipos %}
			<option value="{{ equipo.id }}">{{ equipo.nombre }}</option>
		{% endfor  %}
		</select>
		<label for="test">Visitante</label>
		<ul class="jugadores"></ul>
	</div>
</form>

{% endblock %}
