{% extends 'soccerstats/base.html' %}

{% block contenido %}

<script type="text/javascript">
	players = { {% for jugador in jugadores.0 %}
		{{ jugador.pk }} : {
			pk:	{{ jugador.pk }},
			nombre:	"{{ jugador.nombre|escapejs }}",
			casaca: {{ jugador.casaca }},
			equipo:	0,
		},
	{% endfor %}
	{% for jugador in jugadores.1 %}
		{{ jugador.pk }} : {
			pk:	{{ jugador.pk }},
			nombre:	"{{ jugador.nombre|escapejs }}",
			casaca: {{ jugador.casaca }},
			equipo:	1,
		},
	{% endfor %}
	}
	jugadas = {{ partido.json|safe }};
	equipos = [{% for equipo in partido.equipos.all %}
		{
		nombre: "{{ equipo.nombre|escapejs }}",
		iniciales : "{{ equipo.iniciales|escapejs }}"
		},
	{% endfor %}
	];
</script>

<div id="resumen">
	<table border="1">
		<tr>
			<th></th>
			<th>{{ partido.equipos.all.0.nombre }}</th>
			<th>{{ partido.equipos.all.1.nombre }}</th>
		</tr>
		<tr id="goles">
			<td>Goles</td>
			<td class="local">...</td>
			<td class="visitante">...</td>
		</tr>
		<tr id="posesion">
			<td>Posesion</td>
			<td class="local">...</td>
			<td class="visitante">...</td>
		</tr>
		<tr id="tiros">
			<td>Tiros al arco</td>
			<td class="local">...</td>
			<td class="visitante">...</td>
		</tr>
		<tr id="pases">
			<td>Pases totales</td>
			<td class="local">...</td>
			<td class="visitante">...</td>
		</tr>
		<tr id="presicion">
			<td>Presición de los pases</td>
			<td class="local">...</td>
			<td class="visitante">...</td>
		</tr>
		<tr id="faltas">
			<td>Faltas</td>
			<td class="local">...</td>
			<td class="visitante">...</td>
		</tr>
		<tr id="penales">
			<td>Penales</td>
			<td class="local">...</td>
			<td class="visitante">...</td>
		</tr>
		<tr id="corners">
			<td>Saques de esquina</td>
			<td class="local"></td>
			<td class="visitante"></td>
		</tr>
	</table>
</div>
<div id="individual"></div>

<div id="pases-from" title="Pases" class="dialog">
</div>

{% endblock %}

{% block end %}
	<script src="{{ STATIC_URL }}soccerstats/js/matchlog.js" type="text/javascript"></script>
	<link rel="stylesheet" href="{{ STATIC_URL }}soccerstats/css/matchlog.css" />
	<link rel="stylesheet" href="{{ STATIC_URL }}soccerstats/css/jquery-ui.css" />
	<script src="{{ STATIC_URL }}soccerstats/js/jquery-ui.min.js" type="text/javascript"></script>
{% endblock %}
